body{
    margin: 0;
}

body *, body *::before, body *::after{
    box-sizing: border-box;
}

.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}

.header{
    background-color: yellow;
    height: 10vh;
}

.visual{
    background-color: salmon;
    height: 10vh;
}

.main{
    background-color: blue;
    /* height: 60vh; */
    /* overflow: auto; */
    /* overflow: hidden; */
    /* position: absolute; */
    /* border: 10px solid green; */
    /* float: left; */
    padding: 30px 15px;
    /* width: 910px; */
    /* box-sizing: border-box; */
}
/* .main::before{

} */

.main::after{
    display: block;
    content: '';
    clear: both;
}

.group{
    height: 60vh;
    margin: 0 15px;
}

.group1{
    background-color: violet;
    width: 250px;
    float: left;
    /* border: 2px solid red; */
}

.group2{
    background-color: aqua;
    width: 380px;
    float: left;
}
.group3{
    background-color: sandybrown;
    float: left;
    width: 190px;
    /* width: px; */
}


.slogan{
    background-color:  lightgreen;
    height: 10vh;
    /* clear: both; */
    /* margin-top: 250px; */
    }
    
/* .slogan::before{
    content: "first child element";
}

.slogan::after{
    content: "last child element";
} */


.footer{
    background-color: silver;
    height: 10vh;
    }
        
.footer-content{
    background-color: pink;
    height: 10vh;
}

